server {
  listen 80;

  server_name {{ domain }}{% if www_domain %} {{ www_domain }}{% endif %};
  root /var/www/{{ domain }}/htdocs;

  location ^~ /.well-known/acme-challenge/ {
    default_type "text/plain";
    try_files $uri /dev/null =404;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  include /etc/nginx/sites-ssl-enabled/{{ domain}}*;
}

# vim: expandtab:ts=2:sw=2:ft=conf
